Repository benjidanielsen/Flowstate-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, python, docs, ci, security

Document Airtable pipeline and add sync bridge
  MASTER_7DAY_PLAN.json
  docs/strategic_plans/FlowstateAI_Master_Strategic_Plan_v2.md
  scripts/airtable_bridge.py
Labels: docs, ci

feat: migrate backend to postgres
  backend/openapi.yaml
  backend/src/controllers/customerController.ts
  backend/src/controllers/eventController.ts
  backend/src/controllers/interactionController.ts
  backend/src/controllers/reminderController.ts
  backend/src/database/index.ts
  backend/src/database/migrate.ts
  backend/src/database/seed.ts
  backend/src/middleware/authMiddleware.ts
  backend/src/middleware/correlationId.ts
  backend/src/services/authService.ts
  backend/src/services/customerService.ts
  backend/src/services/eventLogService.ts
  backend/src/services/followUpService.ts
  backend/src/services/interactionService.ts
  backend/src/services/reminderService.ts
  backend/src/services/statsService.ts
  backend/src/types/index.ts
  backend/src/utils/dbOptimizer.ts
  backend/src/utils/piiRedaction.ts
Labels: backend

Add task column migration for Airtable bridge
  scripts/airtable_bridge.py
Labels: ci

feat: add Frazer stage telemetry and e2e coverage
  backend/src/services/authService.ts
  backend/src/services/customerService.ts
  backend/src/services/frazerStageConfig.ts
  backend/src/services/interactionService.ts
  backend/src/services/reminderService.ts
  backend/src/tests/automationService.test.ts
  backend/src/tests/followUpService.test.ts
  backend/src/tests/frazerPipeline.e2e.test.ts
  backend/src/tests/interactionService.test.ts
  backend/src/types/custom-modules.d.ts
  backend/src/utils/piiRedaction.ts
  brain/autonomous_task_system.py
  brain/task_generator.py
Labels: backend

Integrate agent coordination approvals
  backend/src/routes/evolution.ts
  backend/src/services/aiCoordinationService.ts
  python-worker/evolution_framework/evolution_manager.py
  python-worker/evolution_framework/multi_agent_coordinator.py
  python-worker/src/main.py
Labels: backend, python

feat: add admin and crm dashboards
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ErrorState.tsx
  frontend/src/components/Skeleton.tsx
  frontend/src/main.tsx
  frontend/src/pages/AdminDashboard.tsx
  frontend/src/pages/CRMBoard.tsx
  frontend/src/pages/EvolutionDashboard.tsx
  frontend/src/pages/KPIDashboard.tsx
  frontend/src/services/api.ts
  frontend/src/services/queryClient.ts
  frontend/src/types/index.ts
  package-lock.json
Labels: frontend

Add observability pipelines, KPI coverage, and synthetic load tests
  .github/workflows/test.yml
  backend/package.json
  backend/src/controllers/aiCoordinationController.ts
  backend/src/index.ts
  backend/src/middleware/auth.ts
  backend/src/middleware/authMiddleware.ts
  backend/src/middleware/performanceMiddleware.ts
  backend/src/routes/kpis.ts
  backend/src/services/aiCoordinationService.ts
  backend/src/tests/aiCoordinationService.test.ts
  backend/src/tests/automationService.test.ts
  backend/src/tests/kpisRoutes.test.ts
  backend/src/tests/setup.ts
  backend/src/utils/logger.ts
  backend/src/utils/metrics.ts
  backend/src/utils/piiRedaction.ts
  docs/operations/OBSERVABILITY_RUNBOOK.md
  frontend/cypress.config.ts
  frontend/cypress/e2e/kpi-api.cy.ts
  frontend/cypress/support/e2e.ts
  frontend/package.json
  package-lock.json
  python-worker/evolution_framework/__init__.py
  python-worker/evolution_framework/__pycache__/__init__.cpython-311.pyc
  python-worker/evolution_framework/__pycache__/config.cpython-311.pyc
  python-worker/evolution_framework/__pycache__/evolution_manager.cpython-311.pyc
  python-worker/evolution_framework/__pycache__/knowledge_manager.cpython-311.pyc
  python-worker/evolution_framework/__pycache__/metrics_collector.cpython-311.pyc
  python-worker/evolution_framework/config.py
  python-worker/evolution_framework/cost_optimizer.py
  python-worker/evolution_framework/observability.py
  python-worker/evolution_framework/performance_tuner.py
  python-worker/evolution_framework/synthetic_load_scheduler.py
  python-worker/requirements.txt
  python-worker/src/main.py
  python-worker/tests/test_synthetic_load.py
Labels: frontend, backend, python, docs, ci

Add cache-backed idempotency tests
  backend/jest.config.js
  backend/package.json
  backend/src/middleware/idempotency.ts
  backend/src/tests/idempotencyMiddleware.test.ts
  backend/src/tests/setupRedisMock.ts
  backend/src/utils/piiRedaction.ts
  package-lock.json
Labels: backend

Add observability pipelines, KPI coverage, and synthetic load tests
  .github/workflows/test.yml
  backend/package.json
  backend/src/controllers/aiCoordinationController.ts
  backend/src/index.ts
  backend/src/middleware/auth.ts
  backend/src/middleware/authMiddleware.ts
  backend/src/middleware/performanceMiddleware.ts
  backend/src/routes/kpis.ts
  backend/src/services/aiCoordinationService.ts
  backend/src/tests/aiCoordinationService.test.ts
  backend/src/tests/automationService.test.ts
  backend/src/tests/kpisRoutes.test.ts
  backend/src/tests/setup.ts
  backend/src/utils/logger.ts
  backend/src/utils/metrics.ts
  backend/src/utils/piiRedaction.ts
  docs/operations/OBSERVABILITY_RUNBOOK.md
  frontend/cypress.config.ts
  frontend/cypress/e2e/kpi-api.cy.ts
  frontend/cypress/support/e2e.ts
  frontend/package.json
  package-lock.json
  python-worker/evolution_framework/__init__.py
  python-worker/evolution_framework/__pycache__/__init__.cpython-311.pyc
  python-worker/evolution_framework/__pycache__/config.cpython-311.pyc
  python-worker/evolution_framework/__pycache__/evolution_manager.cpython-311.pyc
  python-worker/evolution_framework/__pycache__/knowledge_manager.cpython-311.pyc
  python-worker/evolution_framework/__pycache__/metrics_collector.cpython-311.pyc
  python-worker/evolution_framework/config.py
  python-worker/evolution_framework/cost_optimizer.py
  python-worker/evolution_framework/observability.py
  python-worker/evolution_framework/performance_tuner.py
  python-worker/evolution_framework/synthetic_load_scheduler.py
  python-worker/requirements.txt
  python-worker/src/main.py
  python-worker/tests/test_synthetic_load.py
Labels: frontend, backend, python, docs, ci

Add safe logger wrapper and tests
  SECURITY.md
  backend/src/middleware/correlationId.ts
  backend/src/tests/piiRedaction.test.ts
  backend/src/utils/piiRedaction.ts
Labels: backend, security

Fix KPI auth middleware and add tests
  backend/src/routes/kpis.ts
  backend/src/tests/kpiRoutes.test.ts
  backend/src/utils/piiRedaction.ts
Labels: backend

Fix KPI dashboard API usage and add logger
  frontend/src/pages/KPIDashboard.tsx
  frontend/src/services/api.ts
  frontend/src/utils/logger.ts
Labels: frontend

Improve XAI NBA serialization and expand tests
  python-worker/evolution_framework/human_oversight_manager.py
  python-worker/evolution_framework/xai_nba.py
  python-worker/tests/test_evolution_framework.py
Labels: python

Add frontend utility logger and API helper
  backend/package.json
  backend/src/index.ts
  backend/src/middleware/auth.ts
  backend/src/middleware/correlationId.ts
  backend/src/middleware/idempotency.ts
  backend/src/services/authService.ts
  backend/src/services/interactionService.ts
  backend/src/utils/cacheManager.ts
  backend/src/utils/piiRedaction.ts
  backend/src/utils/tracer.ts
  frontend/package.json
  frontend/src/services/api.ts
  frontend/src/utils/logger.ts
  package-lock.json
Labels: frontend, backend

Improve python worker dependency fallbacks
  ai_gods/project_manager_v2.py
  aiohttp/__init__.py
  python-worker/evolution_framework/anomaly_detector.py
  python-worker/evolution_framework/code_analyzer.py
  python-worker/evolution_framework/config.py
  python-worker/evolution_framework/edge_case_manager.py
  python-worker/evolution_framework/evolution_governor.py
  python-worker/evolution_framework/evolution_manager.py
  python-worker/evolution_framework/human_oversight_manager.py
  python-worker/evolution_framework/knowledge_manager.py
  python-worker/evolution_framework/metrics_collector.py
  python-worker/evolution_framework/self_modification_orchestrator.py
  python-worker/evolution_framework/xai_nba.py
  python-worker/src/main.py
Labels: python

Add ai_gods shim for python worker tests
  python-worker/ai_gods/__init__.py
Labels: python

add comprehensive restructuring plan
  PROJECT_RESTRUCTURE_PLAN.md
Labels: none

Simplify dashboard structure and guard Flask imports
  Flowstate-AI/godmode-dashboard/app_enhanced.py
  README.md
  godmode-dashboard/app_enhanced.py
Labels: python

Harden backend database bootstrap
  backend/README.md
  backend/app/database.py
  tests/test_backend_database.py
Labels: backend

Forward customer id in interaction api
  frontend/src/services/api.ts
Labels: frontend

Align backend pipeline stages with Frazer flow
  backend/src/database/seed.ts
  backend/src/services/customerService.ts
  backend/src/services/pipelineValidationService.ts
  backend/src/tests/automationService.test.ts
  backend/src/tests/customerService.test.ts
  backend/src/tests/eventLogService.test.ts
  backend/src/tests/followUpService.test.ts
  backend/src/tests/interactionService.test.ts
  backend/src/tests/reminderService.test.ts
  backend/src/tests/statsService.test.ts
  backend/src/types/index.ts
  src/tests/eventLogService.test.ts
Labels: backend

chore: add cleanup dry-run, scripts, and .gitignore rules
  docs/CLEANUP-dry-run.md
  scripts/backup_repo.ps1
  scripts/cleanup_dryrun.ps1
Labels: docs, ci

chore: update .gitignore to ignore .venv, tmp_*, csv, godmode-logs, GODMODE-BACKUP
  .gitignore
Labels: none

feat(backend): add minimal TypeScript Express scaffold and tests
  backend/__mocks__/ioredis.ts
  backend/__mocks__/swagger-ui-express.ts
  backend/__mocks__/yamljs.ts
  backend/__tests__/customers.test.ts
  backend/jest.config.js
  backend/package.json
  backend/src/index.ts
  backend/src/routes/customers.ts
  backend/src/types/external.d.ts
  backend/src/utils/piiRedaction.ts
  backend/tsconfig.json
Labels: backend

ci(backend): add backend test workflow
  backend/.github/workflows/backend-tests.yml
Labels: backend

docs(backend): add README for backend scaffold
  backend/README.md
Labels: backend

feat(python-worker): initial FastAPI worker scaffold
  python-worker/Dockerfile
  python-worker/requirements.txt
  python-worker/src/main.py
Labels: python

test(python-worker): add pytest tests and workflow
  python-worker/.github/workflows/python-worker-tests.yml
  python-worker/tests/test_main.py
Labels: python

feat(backend): add sqlite DB integration, CustomerController, and router update; make createApp async
  backend/src/controllers/customerController.ts
  backend/src/db.ts
  backend/src/index.ts
  backend/src/routes/customers.ts
Labels: backend

feat(backend): add sqlite DB integration, CustomerController, and router update; make createApp async
  backend/src/controllers/customerController.ts
  backend/src/db.ts
  backend/src/index.ts
  backend/src/routes/customers.ts
Labels: backend

Revert "feat(backend): add sqlite DB integration, CustomerController, and router update; make createApp async"
  backend/src/controllers/customerController.ts
  backend/src/db.ts
  backend/src/index.ts
  backend/src/routes/customers.ts
Labels: backend

Add safe logger utilities and stabilize backend tests
  backend/package.json
  backend/src/index.ts
  backend/src/middleware/correlationId.ts
  backend/src/middleware/idempotency.ts
  backend/src/routes/kpis.ts
  backend/src/services/authService.ts
  backend/src/tests/interactionService.test.ts
  backend/src/tests/shutdown.test.ts
  backend/src/utils/piiRedaction.ts
  backend/src/utils/tracer.ts
  package-lock.json
Labels: backend

.github/labeler.yml:

frontend:
  - "frontend/**"
backend:
  - "backend/**"
python:
  - "python-worker/**"
  - "godmode-dashboard/**"
docs:
  - "docs/**"
  - "mkdocs.yml"
ci:
  - ".github/**"
  - "scripts/**"
security:
  - "SECURITY.md"
  - ".github/dependabot.yml"
