Repository benjidanielsen/Flowstate-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, python, docs, ci, security

.github/labeler.yml:

frontend:
  - "frontend/**"
backend:
  - "backend/**"
python:
  - "python-worker/**"
  - "godmode-dashboard/**"
docs:
  - "docs/**"
  - "mkdocs.yml"
ci:
  - ".github/**"
  - "scripts/**"
security:
  - "SECURITY.md"
  - ".github/dependabot.yml"

Fix GHCR tag formatting and PR scan behavior
  .github/workflows/docker.yml
Labels: ci

Grant GHCR push permissions
  .github/workflows/docker.yml
Labels: ci

feat: Phase 0 baseline establishment
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .nvmrc
  .python-version
  SECURITY.md
  db/.dbmate
  db/migrations/0001_init.sql
  docker/.env.shared
  docker/compose.yml
  docker/otel-collector.yaml
  docs/AUDIT_TRAIL.md
  docs/CHANGELOG.md
  docs/DR_RUNBOOK.md
  docs/EMERGENT_BEHAVIOUR_OVERSIGHT_AND_CESSATION.md
  docs/ETHICS.md
  docs/FEDERATION_CHARTER.md
  docs/FEDERATION_CHECKLIST.md
  docs/GOVERNANCE.md
  docs/INDEX.md
  docs/OPS_RUNBOOK.md
  docs/QUALITY.md
  docs/REVOCATION.md
  docs/RISK_REGISTER.md
  docs/SLOS.md
  docs/adr/0000-template.md
  docs/adr/0001-phase-0-baseline-establishment.md
  mkdocs.yml
Labels: docs, ci, security

fix: rewrite CI workflows with proper YAML formatting
  .github/workflows/backend-tests.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  docs/AUDIT_TRAIL.md
Labels: docs, ci

docs: Phase A baseline verification complete
  docs/AUDIT_TRAIL.md
Labels: docs

fix: use npm install instead of npm ci
  .github/workflows/backend-tests.yml
  .github/workflows/ci.yml
Labels: ci

fix: remove npm/pip cache configuration
  .github/workflows/backend-tests.yml
  .github/workflows/ci.yml
Labels: ci

fix: resolve all backend TypeScript compilation errors
  backend/src/controllers/aiCoordinationController.ts
  backend/src/controllers/externalIntegrationController.ts
  backend/src/database/migrate.ts
  backend/src/index.ts
  backend/src/routes/interactions.ts
  backend/src/routes/reminder.ts
  backend/src/routes/stats.ts
  backend/src/services/aiCoordinationService.ts
  backend/src/services/automationService.ts
  backend/src/services/externalIntegrationService.ts
  backend/src/services/followUpService.ts
  backend/src/services/interactionService.ts
  backend/src/services/reminderService.ts
Labels: backend

security: fix 16 Dependabot vulnerabilities in Python dependencies
  SECURITY_UPDATES.md
  python-worker/requirements.txt
  requirements.txt
Labels: python

feat(security): Phase B - Supply Chain Security Implementation
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  docs/adr/0002-supply-chain-security.md
  package-lock.json
Labels: docs, ci

feat(containers): Phase C - Container Optimization Implementation
  backend/Dockerfile
  docker/compose.yml
  docs/adr/0003-container-optimization.md
  frontend/Dockerfile
  frontend/nginx.conf
  python-worker/Dockerfile
Labels: frontend, backend, python, docs

feat(security): Add ESLint and Bandit security scanning
  .github/workflows/bandit.yml
  .github/workflows/eslint.yml
  docs/SECURITY_SCANNING.md
  docs/adr/0005-security-scanning-eslint-bandit.md
Labels: docs, ci

feat: Phase E - Automated Deployment Workflows
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  docs/DEPLOYMENT_RUNBOOK.md
  docs/adr/0006-automated-deployments.md
Labels: docs, ci

feat(db): Phase F - Database Migrations Framework
  .dbmate.env
  .env.dbmate
  .github/workflows/db-migrate.yml
  docs/DATABASE_MIGRATIONS.md
  docs/adr/0007-database-migrations.md
Labels: docs, ci

feat(observability): Phase G - Observability Stack (Prometheus, Grafana, Loki, Jaeger)
  docs/adr/0008-observability-stack.md
  observability/docker-compose.yml
  observability/grafana/provisioning/dashboards/dashboards.yml
  observability/grafana/provisioning/datasources/datasources.yml
  observability/loki/loki-config.yml
  observability/loki/promtail-config.yml
  observability/prometheus/alerts/application.yml
  observability/prometheus/prometheus.yml
Labels: docs

feat(testing): Phase H - Comprehensive Testing Strategy
  .github/workflows/test.yml
  docs/TESTING_STRATEGY.md
  docs/adr/0009-testing-strategy.md
Labels: docs, ci

feat(dr): Phase I - Disaster Recovery Strategy
  docs/DR_RUNBOOK.md
  docs/adr/0010-disaster-recovery.md
Labels: docs

feat(governance): Phase J - Governance Framework
  docs/adr/0011-governance-framework.md
Labels: docs

feat(federation): Phase K - Federation Readiness
  docs/adr/0012-federation-readiness.md
Labels: docs

feat(phase-l): Add automated setup, health check, and performance monitoring scripts
  scripts/health-check.sh
  scripts/performance-monitor.sh
  scripts/run_code_quality_checks.sh
  scripts/setup.sh
Labels: ci

feat(phase-l): Add automated setup, health check, and performance monitoring scripts (#72)
  scripts/health-check.sh
  scripts/performance-monitor.sh
  scripts/run_code_quality_checks.sh
  scripts/setup.sh
Labels: ci

fix: resolve critical test failures and security vulnerabilities
  backend/src/services/reminderService.ts
  frontend/package.json
  frontend/src/pages/Customers.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  package-lock.json
  requirements.txt
  site/DATABASE_MIGRATIONS/index.html
  site/DEPLOYMENT_RUNBOOK/index.html
  site/DR_RUNBOOK/index.html
  site/SECURITY_SCANNING/index.html
  site/TESTING_STRATEGY/index.html
  site/adr/0004-documentation-portal/index.html
  site/adr/0005-security-scanning-eslint-bandit/index.html
  site/adr/0006-automated-deployments/index.html
  site/adr/0007-database-migrations/index.html
  site/adr/0008-observability-stack/index.html
  site/adr/0009-testing-strategy/index.html
  site/adr/0010-disaster-recovery/index.html
  site/adr/0011-governance-framework/index.html
  site/adr/0012-federation-readiness/index.html
  site/search/search_index.json
  site/sitemap.xml
  site/sitemap.xml.gz
Labels: frontend, backend

fix: resolve ALL remaining test failures and issues
  .github/workflows/deploy-production.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  docs/DEPLOYMENT_RUNBOOK.md
  docs/GOVERNANCE.md
  docs/INDEX.md
  docs/SECURITY.md
  docs/SYSTEM_ARCHITECTURE.md
  docs/adr/index.md
  docs/api/index.md
  docs/integrations/index.md
  frontend/src/components/AddInteractionModal.tsx
  frontend/src/components/AddReminderModal.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/pages/CustomerDetail.tsx
  frontend/src/pages/Customers.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/types/index.ts
  frontend/src/vite-env.d.ts
  site/DEPLOYMENT_RUNBOOK/index.html
  site/GOVERNANCE/index.html
  site/SECURITY/index.html
  site/SYSTEM_ARCHITECTURE/index.html
  site/adr/index.html
  site/api/index.html
  site/integrations/index.html
  site/search/search_index.json
  site/sitemap.xml
  site/sitemap.xml.gz
Labels: frontend, docs, ci

fix: update fastapi to 0.119.0 to resolve starlette CVEs
  requirements.txt
Labels: none

feat: add production infrastructure and deployment automation
  .env.production.template
  .gitignore
  backend/src/utils/cacheManager.ts
  backend/src/utils/sessionManager.ts
  docker-compose.production.yml
  docker/database/init.sql
  docker/database/seed.sql
  docker/nginx/nginx.conf
  docker/redis/redis.conf
  scripts/deploy-production.sh
  scripts/setup-secrets.sh
  site/DEPLOYMENT_RUNBOOK/index.html
  site/GOVERNANCE/index.html
  site/INDEX/index.html
  site/SECURITY/index.html
  site/SYSTEM_ARCHITECTURE/index.html
  site/adr/index.html
  site/api/index.html
  site/integrations/index.html
Labels: backend, ci

docs: Add deployment runbook and operator guide
  docs/DEPLOYMENT_RUNBOOK.md
  docs/OPERATOR_GUIDE.md
  mkdocs.yml
Labels: docs

fix(deps): update lycheeverse/lychee-action to v2.0.2 to address CVE-2024-48908
  .github/workflows/docs.yml
Labels: ci

feat: add Evolution Framework architecture design and database schema
  db/migrations/20251012031245_create_evolution_framework_tables.sql
  docs/evolution/ARCHITECTURE.md
  python-worker/evolution_framework/__init__.py
  python-worker/evolution_framework/config.py
Labels: python, docs

feat: implement Evolution Manager and Metrics Collector for self-improvement orchestration
  python-worker/evolution_framework/evolution_manager.py
  python-worker/evolution_framework/metrics_collector.py
  requirements.txt
Labels: python

feat: implement Vector Knowledge Manager for persistent learning and semantic search
  docker-compose.production.yml
  python-worker/evolution_framework/__init__.py
  python-worker/evolution_framework/knowledge_manager.py
Labels: python

feat: implement Phase 4 - self-modification, code analysis, anomaly detection, and governance
  python-worker/evolution_framework/__init__.py
  python-worker/evolution_framework/anomaly_detector.py
  python-worker/evolution_framework/code_analyzer.py
  python-worker/evolution_framework/evolution_governor.py
  python-worker/evolution_framework/self_modification_orchestrator.py
Labels: python

feat: implement Phase 5 - integrate Evolution Framework with NBA and Reminder services
  python-worker/evolution_framework/integrations/__init__.py
  python-worker/evolution_framework/integrations/nba_evolution_adapter.py
  python-worker/evolution_framework/integrations/reminder_evolution_adapter.py
Labels: python

feat: implement Phase 6 - Evolution Dashboard for monitoring and control
  backend/src/routes/evolution.ts
  backend/src/routes/index.ts
  frontend/src/App.tsx
  frontend/src/pages/EvolutionDashboard.tsx
Labels: frontend, backend

feat: implement Phase 7 - Document Evolution Framework and create operator training
  docs/evolution/OPERATOR_TRAINING.md
  docs/evolution/README.md
  mkdocs.yml
Labels: docs

fix: resolve critical qdrant-client and urllib3 security vulnerabilities
  requirements.txt
Labels: none

feat: implement GODMODE Brain orchestrator and fix JSON BOM issues
  AUTONOMOUS_WORK_LOG.md
  ai-gods/godmode_brain.py
  collective-memory/godmode_brain_plan.json
  collective-memory/project_status.json
Labels: none

test: add comprehensive test suite for Evolution Framework
  python-worker/tests/test_evolution_framework.py
  python-worker/tests/test_evolution_simple.py
Labels: python

feat: Replace console.log/error with logger in backend, comment out in frontend
  backend/src/database/index.ts
  backend/src/database/migrate.ts
  backend/src/database/seed.ts
  backend/src/routes/evolution.ts
  backend/src/services/followUpService.ts
  backend/src/utils/cacheManager.ts
  backend/src/utils/sessionManager.ts
  frontend/src/pages/EvolutionDashboard.tsx
Labels: frontend, backend

fix: Remove TODOs, replace console.log/error with logger, fix remaining TS errors
  backend/src/services/authService.ts
  backend/src/services/followUpService.ts
  backend/src/utils/logger.ts
Labels: backend

fix: Address remaining ESLint warnings by disabling rules for specific lines
  backend/src/index.ts
  backend/src/services/authService.ts
Labels: backend
