Repository benjidanielsen/Flowstate-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, python, docs, ci, security

.github/labeler.yml:

frontend:
  - "frontend/**"
backend:
  - "backend/**"
python:
  - "python-worker/**"
  - "godmode-dashboard/**"
docs:
  - "docs/**"
  - "mkdocs.yml"
ci:
  - ".github/**"
  - "scripts/**"
security:
  - "SECURITY.md"
  - ".github/dependabot.yml"

feat: Integrate Swagger UI for API documentation
  backend/openapi.yaml
  backend/src/index.ts
Labels: backend

fix: Resolve ESLint parsing error and update Qdrant version in production compose
  backend/tsconfig.eslint.json
  docker-compose.production.yml
Labels: backend

feat: Implement Phase 1 - Intelligence Enhancement (Cross-domain learning, Meta-optimization, Edge cases, Predictive AI, XAI)
  python-worker/evolution_framework/__init__.py
  python-worker/evolution_framework/__pycache__/__init__.cpython-311.pyc
  python-worker/evolution_framework/__pycache__/anomaly_detector.cpython-311.pyc
  python-worker/evolution_framework/__pycache__/code_analyzer.cpython-311.pyc
  python-worker/evolution_framework/__pycache__/config.cpython-311.pyc
  python-worker/evolution_framework/__pycache__/evolution_governor.cpython-311.pyc
  python-worker/evolution_framework/__pycache__/evolution_manager.cpython-311.pyc
  python-worker/evolution_framework/__pycache__/knowledge_manager.cpython-311.pyc
  python-worker/evolution_framework/__pycache__/metrics_collector.cpython-311.pyc
  python-worker/evolution_framework/__pycache__/self_modification_orchestrator.cpython-311.pyc
  python-worker/evolution_framework/cross_domain_learner.py
  python-worker/evolution_framework/edge_case_manager.py
  python-worker/evolution_framework/meta_optimizer.py
  python-worker/evolution_framework/predictive_optimizer.py
Labels: python

feat: Implement Phase 1 - Intelligence Enhancement (Cross-domain learning, Meta-optimization, Edge cases, Predictive AI, XAI)
  python-worker/evolution_framework/__init__.py
  python-worker/evolution_framework/xai_nba.py
Labels: python

feat: Implement Phase 2 - Scalability & Monitoring (KPI dashboards, Observability, DB optimization, External integrations)
  backend/src/index.ts
  backend/src/middleware/correlationId.ts
  backend/src/middleware/idempotency.ts
  backend/src/routes/index.ts
  backend/src/routes/kpis.ts
  backend/src/utils/dbOptimizer.ts
  backend/src/utils/tracer.ts
  frontend/src/App.tsx
  frontend/src/pages/KPIDashboard.tsx
Labels: frontend, backend

feat: Implement Phase 3 - Deploy Advanced Autonomy (Multi-agent coordination, Human oversight, Ethical AI)
  python-worker/evolution_framework/__init__.py
  python-worker/evolution_framework/human_oversight_manager.py
  python-worker/evolution_framework/multi_agent_coordinator.py
Labels: python

feat: Implement Phase 4 - Final Optimization & Refinement (Performance tuning, Cost optimization)
  python-worker/evolution_framework/__init__.py
  python-worker/evolution_framework/cost_optimizer.py
  python-worker/evolution_framework/performance_tuner.py
Labels: python

Initial commit of Flowstate-AI v2030 project structure with updated documentation and core components, respecting .gitignore.
  .gitignore
Labels: none

Move deployment guide and project summary to docs directory.
  docs/DEPLOYMENT_GUIDE.md
  docs/PROJECT_SUMMARY.md
Labels: docs

Add new ROADMAP.md based on project summary.
  docs/ROADMAP.md
Labels: docs

Add new ARCHITECTURE_BLUEPRINT.md detailing v2030 system architecture.
  docs/ARCHITECTURE_BLUEPRINT.md
Labels: docs

Update README.md to reflect new documentation structure and refer to roadmap and architecture blueprint.
  README.md
Labels: none

docs: update project summary with new features and roadmap
  docs/PROJECT_SUMMARY.md
Labels: docs

docs: update roadmap with new feature integrations
  docs/ROADMAP.md
Labels: docs

docs: update architecture blueprint with new feature integrations
  docs/ARCHITECTURE_BLUEPRINT.md
Labels: docs

Align CRM pipeline data across backend and frontend
  backend/src/controllers/eventController.ts
  backend/src/controllers/interactionController.ts
  backend/src/controllers/reminderController.ts
  backend/src/database/migrate.ts
  backend/src/routes/customers.ts
  backend/src/routes/interaction.ts
  backend/src/services/interactionService.ts
  backend/src/types/index.ts
  frontend/src/components/AddInteractionModal.tsx
  frontend/src/pages/CustomerDetail.tsx
  frontend/src/pages/Customers.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Labels: frontend, backend

Refactor backend Supabase integration and typing
  backend/dist/database/index.d.ts
  backend/dist/database/index.d.ts.map
  backend/dist/database/index.js
  backend/dist/database/index.js.map
  backend/dist/middleware/authMiddleware.d.ts
  backend/dist/middleware/authMiddleware.d.ts.map
  backend/dist/middleware/authMiddleware.js
  backend/dist/middleware/authMiddleware.js.map
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/database/index.ts
  backend/src/database/supabase.ts
  backend/src/middleware/authMiddleware.ts
  backend/src/middleware/correlationId.ts
  backend/tsconfig.json
Labels: backend

Refactor backend Supabase integration and typing
  backend/dist/database/index.d.ts
  backend/dist/database/index.d.ts.map
  backend/dist/database/index.js
  backend/dist/database/index.js.map
  backend/dist/middleware/authMiddleware.d.ts
  backend/dist/middleware/authMiddleware.d.ts.map
  backend/dist/middleware/authMiddleware.js
  backend/dist/middleware/authMiddleware.js.map
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/database/index.ts
  backend/src/database/supabase.ts
  backend/src/middleware/authMiddleware.ts
  backend/src/middleware/correlationId.ts
  backend/tsconfig.json
Labels: backend

Refactor backend Supabase integration and typing
  backend/dist/database/index.d.ts
  backend/dist/database/index.d.ts.map
  backend/dist/database/index.js
  backend/dist/database/index.js.map
  backend/dist/middleware/authMiddleware.d.ts
  backend/dist/middleware/authMiddleware.d.ts.map
  backend/dist/middleware/authMiddleware.js
  backend/dist/middleware/authMiddleware.js.map
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/database/index.ts
  backend/src/database/supabase.ts
  backend/src/middleware/authMiddleware.ts
  backend/src/middleware/correlationId.ts
  backend/tsconfig.json
Labels: backend

Add local fallbacks for worker and Supabase connectivity
  backend/src/database/index.ts
  python-worker/ai_gods/__init__.py
  python-worker/ai_gods/logging_config.py
  python-worker/src/main.py
Labels: backend, python

Add OpenAI environment configuration and vector search utilities
  backend/.env
  backend/package.json
  backend/src/config/environment.ts
  backend/src/index.ts
  backend/src/scripts/reindexDocuments.ts
  backend/src/services/embeddingService.ts
  python-worker/.env
  python-worker/app/__init__.py
  python-worker/app/settings.py
  python-worker/src/main.py
Labels: backend, python

feat: add pipeline orchestration support
  backend/src/controllers/pipelineController.ts
  backend/src/routes/index.ts
  backend/src/routes/pipelines.ts
  backend/src/services/pipelineService.ts
  backend/src/tests/integration/pipeline.api.test.ts
  backend/src/types/index.ts
  frontend/src/components/customers/CustomerDetailView.tsx
  frontend/src/components/pipelines/PipelineDashboard.tsx
  frontend/src/components/reminders/ReminderManager.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  python-worker/app/__init__.py
  python-worker/app/agents/__init__.py
  python-worker/app/agents/customer_agent.py
  python-worker/app/agents/pipeline_agent.py
  python-worker/app/agents/reminder_agent.py
  python-worker/tests/test_agent_integration.py
  supabase/migrations/20240201000000_pipeline_schema.sql
Labels: frontend, backend, python

Add analytics ingestion, feature flags, and vector NBA agents
  backend/src/controllers/analyticsController.ts
  backend/src/controllers/featureFlagController.ts
  backend/src/database/migrate.ts
  backend/src/database/schema.ts
  backend/src/routes/analytics.ts
  backend/src/routes/featureFlags.ts
  backend/src/routes/index.ts
  backend/src/services/analyticsIngestionService.ts
  backend/src/services/eventLogService.ts
  backend/src/services/featureFlagService.ts
  backend/src/services/githubAgentService.ts
  backend/src/services/vectorSearchService.ts
  backend/src/services/workflowOrchestrationService.ts
  backend/src/types/index.ts
  frontend/src/App.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/analytics/AnalyticsDashboard.tsx
  frontend/src/pages/analytics/index.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  github_integration.py
  python-worker/app/__init__.py
  python-worker/app/agents/__init__.py
  python-worker/app/agents/base.py
  python-worker/app/agents/learning_agent.py
  python-worker/app/agents/nba_agent.py
  python-worker/src/main.py
  python-worker/tests/test_main.py
Labels: frontend, backend, python

docs: track follow-up issues for security rollout
  backend/package.json
  backend/src/cache/cacheClient.ts
  backend/src/cache/vectorSearchCache.ts
  backend/src/middleware/authMiddleware.ts
  backend/src/middleware/performanceMiddleware.ts
  backend/src/middleware/rbacMiddleware.ts
  backend/src/routes/index.ts
  backend/src/services/vectorSearchService.ts
  backend/src/utils/metrics.ts
  backend/src/utils/sessionManager.ts
  backend/src/utils/tracer.ts
  docs/KNOWN_ISSUES.md
  docs/RUNBOOKS.md
  package-lock.json
  python-worker/app/agents/__init__.py
  python-worker/app/agents/base.py
  python-worker/app/agents/orchestrator.py
  python-worker/app/agents/specialized.py
  python-worker/requirements.txt
  python-worker/src/instrumentation.py
  python-worker/src/main.py
  python-worker/tests/test_app_agents.py
Labels: backend, python, docs

chore: add local env scaffolding and worker fallbacks
  backend/.env
  python-worker/.env
  python-worker/ai_gods/__init__.py
  python-worker/ai_gods/logging_config.py
  python-worker/evolution_framework/__init__.py
  python-worker/evolution_framework/anomaly_detector.py
  python-worker/evolution_framework/code_analyzer.py
  python-worker/evolution_framework/evolution_manager.py
  python-worker/evolution_framework/knowledge_manager.py
  python-worker/src/main.py
Labels: backend, python

chore: add local env scaffolding and worker fallbacks
  backend/.env
  python-worker/.env
  python-worker/ai_gods/__init__.py
  python-worker/ai_gods/logging_config.py
  python-worker/evolution_framework/__init__.py
  python-worker/evolution_framework/anomaly_detector.py
  python-worker/evolution_framework/code_analyzer.py
  python-worker/evolution_framework/evolution_manager.py
  python-worker/evolution_framework/knowledge_manager.py
  python-worker/src/main.py
Labels: backend, python

chore: add local env scaffolding and worker fallbacks
  backend/.env
  python-worker/.env
  python-worker/ai_gods/__init__.py
  python-worker/ai_gods/logging_config.py
  python-worker/evolution_framework/__init__.py
  python-worker/evolution_framework/anomaly_detector.py
  python-worker/evolution_framework/code_analyzer.py
  python-worker/evolution_framework/evolution_manager.py
  python-worker/evolution_framework/knowledge_manager.py
  python-worker/src/main.py
Labels: backend, python

Fix KPI dashboard lint errors
  frontend/src/pages/KPIDashboard.tsx
Labels: frontend

Add analysis of recent bulk documentation commits
  docs/task_history_analysis.md
Labels: docs

Fix auth DB initialization and document launch readiness
  backend/src/services/authService.ts
  docs/launch/launch_readiness_assessment.md
Labels: backend, docs

Fix backend lint failures
  backend/src/middleware/correlationId.ts
  backend/src/utils/dbOptimizer.ts
Labels: backend

Stabilize backend services for launch readiness
  backend/package.json
  backend/src/index.ts
  backend/src/middleware/correlationId.ts
  backend/src/middleware/idempotency.ts
  backend/src/routes/kpis.ts
  backend/src/services/interactionService.ts
  backend/src/utils/cacheManager.ts
  backend/src/utils/piiRedaction.ts
  backend/src/utils/tracer.ts
  package-lock.json
Labels: backend

docs: record full system test sweep
  backend/src/controllers/eventController.ts
  backend/src/controllers/interactionController.ts
  backend/src/controllers/reminderController.ts
  backend/src/database/migrate.ts
  backend/src/index.ts
  backend/src/middleware/authMiddleware.ts
  backend/src/middleware/correlationId.ts
  backend/src/middleware/idempotency.ts
  backend/src/routes/customers.ts
  backend/src/routes/interaction.ts
  backend/src/routes/kpis.ts
  backend/src/services/authService.ts
  backend/src/services/interactionService.ts
  backend/src/types/index.ts
  backend/src/types/modules.d.ts
  backend/src/utils/cacheManager.ts
  backend/src/utils/dbOptimizer.ts
  backend/src/utils/piiRedaction.ts
  backend/src/utils/tracer.ts
  docs/launch/launch_readiness_assessment.md
  docs/reports/system_test_summary_2025-10-20.md
  docs/task_history_analysis.md
  frontend/src/components/AddInteractionModal.tsx
  frontend/src/components/AddReminderModal.tsx
  frontend/src/components/__tests__/QualificationQuestionnaire.test.tsx
  frontend/src/components/__tests__/RemindersPanel.test.tsx
  frontend/src/pages/AIDecisionLogs.tsx
  frontend/src/pages/CustomerDetail.tsx
  frontend/src/pages/Customers.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/KPIDashboard.tsx
  frontend/src/pages/Login.tsx
  frontend/src/services/api.ts
  frontend/src/test/accessibility.test.tsx
  frontend/src/types/index.ts
Labels: frontend, backend, docs

Fix stats aggregation and log regression sweep
  backend/src/services/statsService.ts
  docs/reports/system_test_summary_2025-10-21.md
Labels: backend, docs

Log 2025-10-22 regression results
  docs/launch/launch_readiness_assessment.md
  docs/reports/system_test_summary_2025-10-22.md
Labels: docs

Stabilize CRM E2E suite
  e2e/tests/01-customer-creation.spec.ts
  e2e/tests/02-pipeline-progression.spec.ts
  e2e/tests/03-qualification-process.spec.ts
  e2e/tests/04-follow-up-automation.spec.ts
  e2e/utils/auth.ts
  frontend/src/App.tsx
  frontend/src/main.tsx
  frontend/src/pages/CustomerDetail.tsx
  frontend/src/pages/Customers.tsx
Labels: frontend

Document passing regression sweep and update launch blockers
  docs/launch/launch_readiness_assessment.md
  docs/reports/system_test_summary_2025-10-23.md
Labels: docs

Add safe logging context and finalize backend telemetry
  .env.example
  README.md
  backend/package.json
  backend/src/controllers/interactionController.ts
  backend/src/database/migrate.ts
  backend/src/index.ts
  backend/src/middleware/auth.ts
  backend/src/middleware/correlationId.ts
  backend/src/middleware/idempotency.ts
  backend/src/services/authService.ts
  backend/src/services/interactionService.ts
  backend/src/types/index.ts
  backend/src/utils/cacheManager.ts
  backend/src/utils/correlationContext.ts
  backend/src/utils/piiRedaction.ts
  backend/src/utils/tracer.ts
  docs/DEVELOPER_GUIDE.md
  docs/PROJECT_BLUEPRINT.MD
  package-lock.json
Labels: backend, docs

Fix interaction creation customer id
  frontend/src/pages/CustomerDetail.tsx
Labels: frontend

Fix tracer span processor registration
  backend/src/utils/tracer.ts
Labels: backend
